@model IEnumerable<GymManagement.Domain.Entities.Member>

@{
    Layout = "_AdminLayout";
}


<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Üyeler</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ad-Soyad</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Borç</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ödeme Durumu</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Katılma Tarihi</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                    </tr>
                </thead>
                <tbody>
                
                @foreach (var member in Model)
                {
                    <tr>
                        <td>
                            @{
                                string adSoyad = @member.FirstName +" "+ member.LastName;
                            }

                            <div class="d-flex flex-column justify-content-center" style="margin-left: 5px;">
                                <h6 class="mb-0 text-sm font-weight-bold">@adSoyad</h6>
                                <p class="text-xs text-secondary mb-0">@member.Email</p>
                            </div>
                        </td>
                        <td  class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">@member.Debt</p>
                        </td>

                        <td  class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">@member.NormalizedUserName</p>
                        </td>
                        <td class="align-middle text-center text-sm">

                            @if (@member.IsPaymentStatus)
                             {
                                <p class="badge bg-gradient-success mb-0">Ödendi</p>
                             }
                             else
                             {
                                 <p class="badge bg-gradient-danger mb-0">Ödenmedi</p>
                             }

                        </td>
                        <td class="align-middle">
                            <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                Detay
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>